<launch>
   <node pkg="beginner_tutorials" type="change_talker_server" name="change_talker_server">
       
   </node> 
   <arg name="my_args"/>
   <node pkg="beginner_tutorials" type="change_talker_client" name="change_talker_client" output="screen" args="$(arg my_args)">
       
   </node>
</launch>
